<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column">
    <div class="card w-100 bg-primary border-shadow">
      <div class="card-body ">
        <h2 class="card-title fw-bold">Let's create an event!</h2>
      </div>
    </div>
    <%= simple_form_for @event do |f| %>
      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :votable_dates_strings, label: "Pick some dates...", as: :string, input_html: { data: { controller: "pick-days" } } %>
      </div>
      <div class="form-actions">
        <%= link_to "Cancel", :back, class:"btn btn-link" %>
        <%= f.button :submit, class:"btn btn-outline-danger" %>
      </div>
    <% end %>
  </div>
</div>
