<div class="wrapper">
  <div class="container min-vh-100 d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="card w-100 bg-info mt-4 blurr-filter">
        <div class="card-body  ">
          <h2 class="card-title fw-bold text-primary text-center">Let's create an event!</h2>
        </div>
      </div>
      <div class="card w-100 bg-info mt-3 blurr-filter">
        <div class="card-body text-primary">
          <%= simple_form_for @event do |f| %>
            <div class="form-inputs">
              <%= f.input :title %>
              <%= f.input :description%>
              <%= f.input :votable_dates_strings, label: "Choose possible dates", as: :string, input_html: { data: { controller: "pick-days" } } %>
            </div>
            <div class="form-actions">
              <%= link_to "Cancel", :back, class:"btn btn-link" %>
              <%= f.button :submit, class:"btn btn-outline-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
