<div class="container-sm">
  <div class="d-flex flex-column m-5">
    <h1 class="fw-bold border-bottom">Create your event!</h1>
      <%= simple_form_for @event do |f| %>
      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :votable_dates_strings, as: :string, input_html: { data: { controller: "pick-days" } } %>
      </div>
      <div class="form-actions">
        <%= link_to "Not really", :back, class:"btn btn-outline-warning" %>
        <%= f.button :submit, class:"btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>
