<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} on #{@event.title}" %>
<% content_for :meta_description, @event.description %>

<div class="wrapper" data-controller="event-status-subscription" data-controller="votes-subscription" data-event-status-subscription-event-id-value="<%= @event.hashid %>" data-votes-subscription-event-id-value="<%= @event.hashid %>">
  <div class="min-vh-100 row justify-content-center mx-0 ">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-lg-4">
      <div class="card w-100  mt-4 blurr-filter">
        <div class="card-body mb-0 text-center py-2">
          <p class="text-white small mb-0">
            <i class="fas fa-user-shield"></i>
            <%= @event.user.attendee.name %>
          </p>
          <h1 class="card-title fw-bold text-info mb-0"><%= @event.title %></strong></h1>
          <p class="text-white small mb-0"><%= @event.description %></p>
        </div>
      </div>
      <div data-event-status-subscription-target="info">
        <% if @event.closed? %>
          <%= render "chosen_dates/modal", event: @event %>
        <% else %>
          <%= render "invitation_links" %>
        <%end%>
      </div>
      <div class="d-flex justify-content-between align-items-end mb-2" >
        <h2 class="text-info mt-2 mb-0"><strong>Results</strong></h2>
        <button class="d-inline-flex align-items-center btn btn-light badge"  data-bs-toggle="tooltip" data-bs-placement="top" title="<%= @event.attendees.pluck(:name).to_sentence %>">
          <span><i class="fas text-secondary fa-users"></i></span>&nbsp;<span class="badge btn-secondary total-display" data-votes-subscription-target="totalDisplay"><%= @event.attendees.count %></span>
        </button>
      </div>
      <div class="dates" data-votes-subscription-target="dates" data-event-status-subscription-target="dates">
        <%= render @event.event_dates %>
      </div>
    </div>
  </div>
</div>
