<div class="wrapper">
  <div class="container min-vh-100 d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="card w-100  mt-4 blurr-filter">
        <div class="card-body mb-0 text-center py-2">
          <p class="text-white small mb-0">
            <i class="fas fa-user-shield"></i>
            <%= @event.user.attendee.name %>
          </p>
          <h1 class="card-title fw-bold text-info mb-0"><%= @event.title %></strong></h1>
          <p class="text-white small mb-0"><%= @event.description %></p>
        </div>
      </div>
      <div class="w-100  mt-2 d-flex justify-content-between">
        <div class="card w-20 blurr-filter">
          <div class="card-body mb-0">
            <h1 class="mb-0 fw-bold text-info text-center"><i class="fas fa-user-shield"></i></h1>
          </div>
        </div>
        <div class="card w-20 blurr-filter">
          <div class="card-body mb-0">
            <h1 class="mb-0 mx-1 fw-bold text-info text-center"><i class="fas fa-info-circle"></i></h1>
          </div>
        </div>
        <div class="card w-20 blurr-filter">
          <div class="card-body  mb-0">
            <h1 class="mb-0 fw-bold text-info text-center"><i class="fas fa-link"></i></h1>
          </div>
        </div>
        <div class="card w-20 blurr-filter">
          <div class="card-body mb-0">
            <h1 class="mb-0 mx-1  fw-bold text-primary text-info"><i class="fas fa-qrcode"></i></h1>
          </div>
        </div>
      </div>
      <div class="card w-100  mt-2 blurr-filter">
        <div class="card-body mb-0">
          <p ><i class="fas fa-user-shield text-info"></i> <%= @event.user.attendee.name.capitalize %></p>
          <p><i class="fas fa-info-circle text-info"></i> <%= @event.description %></p>
          <div class="container d-flex justify-content-between align-items-center">
          <% if current_user&.owns?(@event) %>
            <div class="d-flex" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
              <button class="btn btn-primary" data-action="click->clipboard#copy"><i class="fas fa-link"></i> Copy</button>
              <input value="<%= short_join_event_url(@event.funid) %>" data-clipboard-target="input" type="text" readonly>
            </div>
          <%end%>
        </div>
        </div>
      </div>
      <div class="container">
        <br>
        <hr>
        <div class="dates" data-event-subscription-target="dates">
          <% @event.event_dates.each do |event_date| %>
            <div data-date=<%= event_date.value %> data-controller="show-voting-details" class="mt-5 mb-5">
              <div class="d-flex">
                <strong><%= event_date.short_string %></strong>
                <button class="badge btn btn-primary" data-action="click->show-voting-details#displayVoters">
                 <span><i class="fas fa-users"></i></span>&nbsp;<span class="badge bg-primary total-display"><%= event_date.total_votes %></span>
                </button>
                &nbsp;<span><i class="far fa-check-circle"></i></span>&nbsp;<span class="yes-display"><%= event_date.yes_count %></span>
                &nbsp;<span><i class="far fa-times-circle"></i></span>&nbsp;<span class="no-display"><%= event_date.no_count %></span>
                <div class="details ms-2">
                </div>
              </div>
              <div class="card d-none mt-2" data-show-voting-details-target="voters">
                <div class="card-body">
                  🥳<% event_date.votes.each do |vote|%>
                    <%= vote.attendee.name %>
                  <% end %>
                </div>
              </div>
              <div class="progress-outer">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active"
                    style="width: <%= event_date.progress_bar_value %>%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
