<div class="wrapper">
  <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class= col-sm-6>
      <%= image_tag "akord.png", height: 200, class: "img-fluid" %>
      <div class="row justify-content-center">
        <div>
          <div class="blurr-filter form-login m-1">
            <%= simple_form_for :join, url: pin_join_event_path, method: :get do |f|  %>
              <%# ?join={funid:kind-memory} %>
              <div class="container d-flex justify-content-center m-1">
                <%= label_tag :funid, " " %>
                <%= text_field_tag :funid, nil, placeholder:"Event-code", class: "blurr-filter border-0 form-control" %>
                <%= f.button :submit, value:"Join", class:"button-radius text-white btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
