<div class="container-sm">
  <div class="d-flex flex-column m-5">
    <p>Welcome, <%= current_attendee.name %></p>
    <h1 class="fw-bold border-bottom">WHAT'S YOUR PREFERRED DAY FOR <%= @date_votes.event.title %></h1>
    <h5><%= @date_votes.event.description %></h5>
    <%= simple_form_for @date_votes, url: event_date_votes_path do |f| %>
      <%= f.simple_fields_for :votes do |fv| %>
        <div class="inputGroup">
          <%= fv.input :date, as: :hidden %>
          <strong><%= fv.input :rate, label: fv.object.event_date.short_string, collection: Vote.rates, as: :radio_buttons %></strong>
        </div>
      <% end %>
    <%= f.button :submit, class:"voting-button btn btn-primary", value: "VOTE!" %>
    <% end %>
  </div>
</div>
