<div class="container-sm">
  <div class="d-flex flex-column m-5">
    <h4  class="fw-bold text-primary">Hey <%= current_attendee.name.capitalize %>! you are invited to <%= @date_votes.event.title %> </h4>
    <p><%= @date_votes.event.description %></p>
    <h5>We are trying to <strong class="fw-bold text-danger">Akord</strong> on a date for <%= @date_votes.event.title %></h5>
    <h5 class="border-bottom fw-bold text-primary">Your vote helps!</h5>
    <%= simple_form_for @date_votes, url: event_date_votes_path do |f| %>
      <%= f.simple_fields_for :votes do |fv| %>
        <div class="inputGroup">
          <%= fv.input :date, as: :hidden %>
          <strong><%= fv.input :rate, label: fv.object.event_date.short_string, collection: Vote.rates, as: :radio_buttons %></strong>
        </div>
      <% end %>
    <%= f.button :submit, class:"voting-button btn btn-primary", value: "VOTE!" %>
    <% end %>
  </div>
</div>
